html{
  background: #F09819;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #dfbd8e, rgb(243, 170, 68));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #dfbd8e,  rgb(243, 170, 68)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  height: 100%;
  // position: absolute;
  font-family: 'Roboto Slab', serif;
  body{
    main{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items:center;
      .card{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        height: 550px;
        width: 400px;
        background-color: #fff;
        margin-top:10%;
        padding:50px;
        img{
          height: 150px;
          width: 150px;
          border-radius: 50%;
          filter: drop-shadow(5px 5px 4px #979797);
        }
        .blurb{
          text-align:center;
        }
        .icons{
          i{
            color: #000;
          }
          flex-direction:row;
        }
        h1{
          font-weight:700;
          margin-block-end: 0;
        }
        p{
          font-weight:300;
        }
        hr{
          border: 0.5px solid #c2c2c2;
          width:100%;
          margin:0;
        }
        .title{
          margin: 0;
        }
        .connect{
          p{
            font-weight:700;
            margin-block-end:0;
          }
          
        }
        .icons{
          i{
            padding: 5px;
            font-size: 18px;
          }
          i:hover{
            color: #dfbd8e;
          }
        }
        #status{
          font-weight:700;
        }
      }
    }
    footer{
      p{
        font-weight:300;
        font-size: 12px;
      }
    }
  }
}
